/* Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


/* Common Styles or Utilities */

* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-size: 45px;
}

p {
    padding: 35px 0;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}

button {
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    color: #FFFFFF;
    font-size: 20px;
    margin: 0px 630px 50px;
    border: 0;
    border-radius: 8px;
    background-color: #FF900E;
}

h4{
    font-size: 20px;
    font-weight: 600;
}


/* Header Style */

.header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* Header Top Style */

.header-top {
    padding: 50px 228px 0;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    padding-top: 13px;
}

ul li {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    padding-right: 50px;
    list-style-type: none;
}

/* Banner Style */

.banner {
    padding: 100px 240px 45px;
}

.header-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.header-description {
    text-align: center;
}

/* Team Style */

.team {
    gap: 73px;
    display: flex;
    padding: 85px 300px 130px;
    background-color: rgb(250, 250, 250);
}

.team-container {
    padding: 200px 0;
}

.team-imges {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#team-title{
    color: #727272;
    font-weight: 500;
}

.team-btn {
    margin: 0;
}

/* Love & enjoy Style */

.love-and-enjoy {
    gap: 146px;
    display: flex;
    padding: 0 240px 110px;
    background-color: rgb(250, 250, 250);
}

.love-and-enjoy-title{
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.details {
    width: 586px;
    height: 171px;
    /* left: 240px;
    top: 2713px; */
    margin-bottom: 20px;
    padding: 30px 42px 0 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.details-title {
    color: #131313;
}

.details-description{
    padding: 10px 0 0;
    margin: 0;
}

.architect-btn {
    width: 342px;
    height: 200px;
    left: 922px;
    top: 3150px;
    margin-left: 50px;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    line-height: 45px;
}

.architect-btn-secondary-text{
    margin: 0;
    width: 0;
    height: 0px;
    font-size: 25px;
    font-weight: 700;
}

/* Fact Style */

.fact{
    background-color: rgb(250, 250, 250);
}

.fact-details{
    padding: 130px 1120px 0 240px;
}

.container{
    gap: 125px;
    display: flex;
    justify-content: center;
    padding: 100px 290px 180px;
    /* transform: rotate(90deg); */
}

.item{
    height: 242px;
    width: 242px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.item:hover{
    border: 2px solid #FF900E;
    transform: rotatey(180deg);
}

.item img{
    height: 50x;
    width: 50px;
    margin-top: 45px;
}

.item-title{
    color: #424242;
    margin-top: 10px;
}

.item-description {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
}

/* Sponspors Style */

.sponspors{
    background-color: rgb(250, 250, 250);
}

.sponspors-details{
    padding: 0 680px;
}

.sponspors-title{
    text-align: center;
}

.sponspors-description{
    text-align: center;
}

.sponspors-item{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 130px;
}

/* Contact Style */

.contact{
    padding: 0 680px 130px;
    background-color: rgb(250, 250, 250);
}

.contact-title{
    text-align: center;
}

.contact-description{
    text-align: center;
}

input{
    height: 50px;
}

input,
textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    outline: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

textarea {
    font-size: 18px;
}

.contact-btn {
    margin: 0 385px 0;
}

/* Footer Style */

.footer{
    padding: 0 240px 100px;
    background-color: rgb(250, 250, 250);
}

.footer-text{
    border-radius: 8px;
    background-color: #FFF4E7;
}

.footer-description{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* Responsive Style */

@media screen and (max-width: 576px) {

    /* Header Responsive */

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        padding: 50px 20px 0;
    }

    .banner {
        padding: 50px 20px 45px;
    }

    .header-title {
        text-align: left;
    }

    .header-description{
        text-align: left;
    }

    .header-btn{
        margin: 0 0 50px;
    }

    .banner img {
        width: 100%;
    }

    /* Header Responsive */

    .team {
        /* display: flex; */
        flex-direction: column;
        padding: 50px 20px 130px;
    }

    .team-imges {
        flex-direction: column;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .team-imges img{
        width: 100%;
    }

    .team-container {
        padding: 0;
    }

    /* Love & Enjoy Responsive */

    .love-and-enjoy {
        gap: 0;
        flex-direction: column-reverse;
        padding: 0 20px 50px;
    }

    .architect img {
        width: 100%;
    }

    .architect-btn{
        margin-top: 20px;
        position: static;
        margin-left: 15px;
    }

    /* Fact Responsive */

    .fact-details {
        padding: 50px 20px 50px;
    }

    .container{
        gap: 50px;
        padding: 0px 20px 50px;
        flex-direction: column;
    }

    .item{
        width: 360px;
    }
}    